.home {
    background-color: rgb(188, 26, 32);
    height: 100vh;
}
.ImageLinks {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 990px;
    margin: 80px auto;
}
img.HomeImages {
    margin: 0 auto;
}
a {
    display: flex;
}
h2 {
    width: 300px;
    text-align: center;
    color: rgb(237, 204, 85);
}
.hpBoxes {
    border: 2px solid rgb(237, 204, 85);
    height: 270px;
    border-radius: 12px;
    background-color: black;
}